.story__product-card {
	display: flex;
	color: #fff;

	&-img {
		flex: 0 0 100px;
		max-width: 100px;
		height: 110px;

		.image {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&-body {
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		padding: 15px;
	}

	&-content {
		display: grid;
		gap: 5px;

		.product-title {
			font-size: 18px;
			font-weight: 500;
			margin: 0;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.product-price {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 20px;
			line-height: 1;

			.original-price {
				text-decoration: line-through;
				color: var(--white-50);
				font-size: 14px;
			}
		}
	}

	&-cta {
		flex-shrink: 0;
		text-align: right;

		a {
			display: inline-block;
			padding: 5px 20px;
			font-size: 14px;
			border-radius: 4px;
			background-color: var(--theme-primary);
			color: var(--white);
			text-decoration: none;
			transition: all 0.3s ease-in;

			&:hover {
				background-color: var(--white);
				color: var(--font-color);
			}
		}
	}
}


@media (max-width: 400px) {
	.story__product-card {
		&-body {
			display: block;
			padding: 10px;
		}

		&-img {
			height: 113px;
		}

		&-content {
			.product-title {
				-webkit-line-clamp: 1;
			}
		}

		&-cta {
			text-align: left;
			margin-top: 10px;
		}
	}
}