.comments {
    position: fixed;
    bottom: 30px;
    left: 30px;
    transition: var(--cubic-transition);
    z-index: 1056;

    &__wrapper {
        width: 350px;

        &-box {
            max-height: 250px;
            overflow-y: auto;
        }

        &-items {
            display: grid;
            gap: 5px;
            padding: 10px;
        }

        &-item {
            display: flex;
            gap: 10px;
            color: var(--white);
            border-radius: 5px;
            padding: 5px;

            &-avatar {
                flex: 0 0 30px;
                width: 30px;
                max-width: 30px;
                height: 30px;
                margin-top: 2px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            &-text {
                flex-grow: 1;
                font-size: 12px;

                .name {
                    font-weight: 500;
                }

                .message {
                    font-size: 11px;
                }
            }
        }

        &-input {
            position: relative;
            margin: 15px 10px 0;

            input {
                padding: 5px 70px 5px 10px;
                font-size: 12px;
                width: 100%;
                height: 40px;
                color: var(--input-color);
                background-color: var(--comment-input-bg);
                border-radius: 5px;
                box-shadow: none;
                outline: none;
                border: none;

                &::-webkit-input-placeholder {
                    color: var(--white-50);
                }
            }

            .mention-link,
            .enter-link {
                position: absolute;                
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                font-size: 12px;
                background-color: var(--theme-primary);
                color: var(--input-color);
                border-radius: 50%;
                cursor: pointer;
                z-index: 2;
            }

            .mention-link {
                right: 40px;
            }

            .enter-link {
                right: 10px;
                z-index: 1;

                circle {
                    cursor: pointer;
                }
            }
        }
    }
}

// < 1200px
@include media-breakpoint-down(lg) {
    .comments {
        &__wrapper {
            &-item {
                background: #353535;
            }
            &-input {
                input {
                    background: #353535;
                }
            }
        }
    }
}

// < 576px
@include media-breakpoint-down(sm) {
    .comments {
        left: 10px;
        right: 10px;

        &__wrapper {
            width: 100%;
        }
    }
}