.fixed-video-bubble {
    .video-bubble__wrapper {
        position: fixed;
        left: 20px;
        bottom: 20px;

        &-box {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            padding: 2px;
            border: 3px solid var(--theme-primary);
            background: var(--white);
            overflow: hidden;
            cursor: pointer;
            transition: var(--cubic-transition);
        }

        &-video {
            height: 100%;

            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
                user-select: none;
                border-radius: 50%;
            }
        }
    }
}

// Hide when modal is opened
.modal-open {
    .fixed-video-bubble {
        display: none;
    }
}