.fixed-video-bubble {
    .video-bubble__wrapper {
        position: fixed;
        left: 20px;
        bottom: 20px;

        &-box {
            width: 80px;
            height: 125px;
            padding: 2px;
            border: 3px solid $black;
            background: $white;
            overflow: hidden;
            cursor: pointer;
            transition: 500ms cubic-bezier(0.6, 0.01, 0.1, 0.96);
        }

        &-video {
            height: 100%;

            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
                user-select: none;
            }
        }
    }
}

// Hide when modal is opened
.modal-open {
    .fixed-video-bubble {
        display: none;
    }
}