.products {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms ease-in-out;
    z-index: 1057;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-stacked {
            position: relative;
            width: 110px;
            height: 110px;
            cursor: pointer;
        }

        &-item {
            position: absolute;
            inset: 0;

            &.--item3 {
                transform: scaleX(.6) translateY(16px);
                opacity: .2;
            }

            &.--item2 {
                transform: scaleX(.8) translateY(8px);
                opacity: .6;
            }

            &.--item1 {
                transform: scaleX(1) translateY(0px);
                opacity: 1;
            }
        }

        &-box {
            position: relative;
            width: 110px;
            height: 110px;
            background-color: var(--white);
            border-radius: 16px;

            .image {
                height: 100%;
                width: 100%;
                overflow: hidden;
                border-radius: 16px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            &-wrapper {
                cursor: pointer;
            }
        }

        &-badge {
            position: absolute;
            bottom: 5px;
            left: 6px;
            font-size: 11px;
            font-weight: 500;
            border-radius: 4px;
            border-bottom-left-radius: 12px;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;

            >div {
                padding: 5px 12px;
                min-width: 50px;
                max-width: 98px;
                min-height: 24px;
            }

            &--price {
                color: var(--white);
                background-color: var(--theme-primary);
            }

            &--sold {
                color: var(--white);
                background-color: #ff0000;
            }
        }

        &-see-all {
            .link-all-products {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 25px;
                min-width: 60px;
                margin-top: 25px;
                padding: 0 15px;
                color: var(--white);
                background: var(--theme-primary);
                border-radius: 12px;
                font-size: 11px;
                text-align: center;
                cursor: pointer;
                transition: background 500ms ease-in-out;

                &:hover {
                    background: #000000;
                }
            }
        }
    }

    &-card {
        max-width: 420px;
        background-color: var(--white);
        border-radius: 15px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .back-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            color: var(--font-color);
            background-color: var(--white);
            border-radius: 50%;
            cursor: pointer;
            transition: 500ms ease-in-out;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            svg,
            img {
                width: 18px;
            }

            &:hover {
                filter: invert(1);
            }
        }
    }

    &__landing,
    &__single {
        &-wrapper {
            position: fixed;
            right: 20px;
            top: 50px;
            opacity: 0;
            transform: translateX(200%);
            transition: 500ms ease-in-out;
            z-index: 1057;

            &.active {
                opacity: 1;
                transform: translateX(0);
                transition: 500ms ease-in-out;
            }
        }
    }

    &__landing {
        padding: 10px;

        &-header {
            position: relative;

            >div {
                display: flex;
                align-items: center;
                flex: 4;
                padding-bottom: 10px;
            }

            .back-link__wrapper,
            .search-wrapper {
                flex: .5;
            }

            .search-wrapper {
                text-align: right;

                .search-icon {
                    display: flex;
                    width: 22px;
                    height: 22px;
                    color: var(--font-color);
                    margin-left: auto;
                    cursor: pointer;

                    img {
                        width: 100%;
                    }

                    &.hide {
                        display: none;
                    }
                }
            }

            .title {
                flex-grow: 1;
                text-align: center;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: .5px;
                color: var(--font-color);
            }
        }

        .search__bar-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            padding: 10px 0;
            width: calc(100% - 10px);
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);
            transition: 500ms ease-in-out;

            .search-input-wrapper {
                width: 100%;
            }

            .search-input {
                background-image: url('https://www.svgrepo.com/show/532555/search.svg');
                background-repeat: no-repeat;
                background-position: 10px center;
                background-size: 18px;
                background-color: var(--white);
                border-radius: 2px;
                border: 0;
                padding: 12px 35px 12px 40px;
                width: 100%;
                letter-spacing: .5px;
                font-size: 13px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

                &:focus {
                    outline: none;
                }
            }

            .btn-search-close {
                position: absolute;
                right: 10px;
                top: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                transform: translateY(-50%);
                cursor: pointer;

                img {
                    width: 100%;
                }
            }

            &.active {
                position: relative;
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition: 500ms ease-in-out;
            }
        }

        &-body {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            padding: 15px 0;
            max-height: 500px;
            overflow-y: auto;

            .products__wrapper-box {
                width: 100%;
                max-width: 125px;
                height: 115px;
            }

            .name {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                margin-top: 10px;
                max-height: 35px;
                font-size: 12px;
                line-height: 1.15;
                font-weight: 500;
                color: var(--font-color);
                letter-spacing: .5px;
            }
        }
    }

    &__single {
        overflow: hidden;

        &-content {
            max-height: 500px;
            overflow-y: auto;
        }

        &-header {
            position: absolute;
            left: 20px;
            top: 20px;
            z-index: 1;
        }

        &-img {
            height: 300px;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .list-options {
            position: absolute;
            bottom: 15px;
            left: 20px;

            > ul {
                display: flex;
                align-items: center;
                gap: 5px;
                margin: 0;

                > li > a {
                    width: 44px;
                    height: 44px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: var(--white);
                    transition: 100ms ease-in;

                    &:hover {
                        filter: invert(1);
                    }
                }

                .dropdown {
                    .dropdown-toggle::after {
                        display: none;
                    }

                    .dropdown-menu {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        overflow: hidden;

                        li {
                            &:not(:last-of-type) {
                                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                            }
                        }

                        .dropdown-item {
                            padding: 10px 15px;
                            font-size: 14px;
                            letter-spacing: .5px;
                        }
                    }
                }
            }
        }

        .qty-input {
            padding: 30px 0 20px;
            display: flex;
            align-items: center;
            color: var(--font-color);
            background: var(--white);

            .product-qty,
            .qty-count {
                display: inline-block;
                background: transparent;
                color: inherit;
                font-size: 14px;
                font-weight: 500;
                border: none;
                line-height: 1;                

                &:focus {
                    outline: none;
                }
            }

            .product-qty {
                width: 50px;
                min-width: 0;
                display: inline-block;
                text-align: center;
                appearance: textfield;		
                
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    appearance: none;
                    margin: 0;
                }
            }

            .qty-count {
                position: relative;
                padding: 0;
                cursor: pointer;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                text-indent: -100px;
                box-shadow: rgb(191, 191, 191) 0px 2px 8px;
                overflow: hidden;
                
                &:before, 
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    width: 10px;
                    display: block;
                    background: var(--font-color);
                    margin: auto;
                }

                &--minus {
                    border-right: 1px solid #e2e2e2;
                }

                &--add {
                    border-left: 1px solid #e2e2e2;

                    &:after {
                        transform: rotate(90deg);
                    }
                }
                
                &:disabled {
                    color: #ccc;
                    background: #f2f2f2;
                    cursor: not-allowed;
                    border-color: transparent;
                    
                    &:before,
                    &:after {
                        background: #ccc;
                    }
                }
            }
        }

        &-body {
            padding: 30px 20px;

            h3 {
                color: var(--font-color);
                font-size: 20px;
                font-weight: 500;
                letter-spacing: .5px;
            }

            .price {
                display: flex;
                align-items: center;
                gap: 10px;

                .discounted {
                    color: var(--font-color);
                    font-weight: 600;
                }

                .original {
                    text-decoration: line-through;
                    color: #bdbdbd;
                }
            }

            p {
                margin: 15px 0;
                font-size: 15px;
                font-weight: 300;
                letter-spacing: .6px;
                line-height: 1.4;
                color: var(--font-color);
            }

            .btn-wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 10px 10px;
                margin-top: 30px;

                a {
                    padding: 10px 15px;
                    border: 2px solid var(--theme-primary);
                    border-radius: 4px;
                    color: var(--theme-primary);
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 1.2;
                    letter-spacing: .5px;
                    text-decoration: none;
                    transition: 200ms ease-in-out;

                    &:hover {
                        background-color: var(--theme-primary);
                        color: var(--white);
                    }
                }
            }
        }

        &-footer {
            padding: 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            text-align: center;

            .btn-buy {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 15px;
                font-weight: 500;
                border-radius: 24px;
                padding: 12px;
                background-color: var(--theme-primary);
                color: var(--white);
                text-decoration: none;
                transition: 200ms ease-in;

                &.disabled,
                &:disabled,
                &[disabled] {
                    background-color: rgb(206, 209, 217);
                    pointer-events: none;
                    color: var(--white);
                }

                &:hover {
                    opacity: .8;
                }
            }
        }
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }
}

.modal-open {
    .products {
        display: block;
    }
}

// < 768px
@include media-breakpoint-down(md) {
    .products {
        &__landing,
        &__single {
            &-wrapper {
                top: auto;
                bottom: 20px;
                left: 20px;
                transform: translateY(200%);

                &.active {
                    transform: translateY(0);
                }
            }
        }

        &__landing {
            &-body {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &__wrapper {
            &-box-wrapper {
                flex: 0 0 125px;
                max-width: 125px;
            }
        }

        &-card {
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

// < 576px
@include media-breakpoint-down(sm) {
    .products {
        &__landing {
            &-body {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
        &__wrapper {
            &-box,
            &-stacked {
                width: 90px;
                height: 90px;
            }
        }
    }
}

// < 400px
@media (max-width:400px) {
    .products {
        &__landing {
            &-body {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}