.story {
	border-radius: 12px;
	height: 100%;
	overflow: hidden;

	&__slider {
		position: relative;
		height: 100%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 70px;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.4) 0%,
				rgba(0, 0, 0, 0) 100%
			);
			z-index: 2;
		}
	}

	&__slide {
		height: initial;

		video,
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__pagination {
		bottom: unset !important;
		top: 8px !important;
		display: flex;
		padding: 0 4px;

		.swiper-pagination-bullet {
			flex-grow: 1;
			border-radius: 100vh;
			height: 3px;
			margin: 0 2px !important;
			background-color: rgba($color: #f7f7f5, $alpha: 0.4);
			opacity: 1;

			.swiper-pagination-progress {
				height: 100%;
				width: 0%;
				border-radius: 100vh;
				background-color: #f7f7f5;
			}
		}
	}

	&__prev,
	&__next,
	&__next.swiper-button-next,
	&__prev.swiper-button-prev {
		left: 10px;
		right: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		margin-top: 0;
		border-radius: 50%;
		background-color: var(--white);
		color: var(--font-color);
		z-index: 3;
		pointer-events: auto;
		transition: all 0.3s ease-in;

		&::after {
			font-size: 16px;
			font-family: 'Font Awesome 6 Free';
			font-weight: 900;
		}

		&:not(.swiper-button-disabled):hover {
			background-color: var(--theme-primary);
			color: var(--white);
		}

		&.active-popup {
			display: none;
		}
	}

	&__prev,
	&__prev.swiper-button-prev {
		top: 40px;

		&::after {
			content: '\f077';
		}
	}

	&__next,
	&__next.swiper-button-next {
		top: 90px;

		&::after {
			content: '\f078';
		}
	}

	&__product-popup {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 8px;
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(10px);
		overflow: hidden;
		max-height: 0px;
		transform: translateY(100%);
		transition: 0.3s ease-out;
		opacity: 0;
		z-index: 1;

		&-cta {
			position: absolute;
			left: 10px;
			bottom: 10px;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(10px);
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
			color: var(--white);
			border-radius: 50%;
			font-size: 18px;
			transition: 0.3s ease-out;
			cursor: pointer;
			z-index: 1;

			&:hover {
				background-color: var(--white);
				color: var(--font-color);
			}
		}

		&-wrapper {
			&.active {
				.story__product-popup {
					max-height: 300px;
					transform: translateY(0px);
					transition: 0.3s ease-out;
					opacity: 1;
				}

				.story__product-popup-cta {
					bottom: 120px;
					transition: 0.3s ease-out;
					transform: rotate(180deg);
				}
			}
		}
	}
}

.story__modal {
	&.full-height-popup {
		.btn-close,
		.story__slider::before {
			z-index: -1;
		}
	}
}

// < 576px
@include media-breakpoint-down(sm) {
	.story {
		height: 100%;
		border-radius: 0;

		&__slider {
			height: 100%;
		}

		&__product-popup {
			border-radius: 0;
		}
	}
}
