.story {
  &__slider {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 70px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
      z-index: 2;
    }
  }

  &__slide {
    height: initial;

    video,
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__pagination {
    bottom: unset !important;
    top: 8px !important;
    display: flex;
    padding: 0 4px;

    .swiper-pagination-bullet {
      flex-grow: 1;
      border-radius: 100vh;
      height: 3px;
      margin: 0 2px !important;
      background-color: rgba($color: #f7f7f5, $alpha: 0.4);
      opacity: 1;

      .swiper-pagination-progress {
        height: 100%;
        width: 0%;
        border-radius: 100vh;
        background-color: #f7f7f5;
      }
    }
  }

  &__prev,
  &__next,
  &__next.swiper-button-next,
  &__prev.swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 150px);
    width: 100px;
    margin-top: 0;
    z-index: 1;
    pointer-events: auto;

    &::after {
      content: none;
    }

    &.active-popup {
      z-index: -1;
    }
  }

  &__prev,
  &__prev.swiper-button-prev {
    left: 0;
  }

  &__next,
  &__next.swiper-button-next {
    right: 0;
  }
}

.story__modal {
  &.full-height-popup {
    .btn-close,
    .story__slider::before,
    .story__next.swiper-button-next,
    .story__prev.swiper-button-prev,
    .story__pagination.swiper-pagination {
      z-index: -1;
    }
  }
}

// < 576px
@include media-breakpoint-down(sm) {
  .story {
    height: 100%;

    &__slider {
      height: 100%;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
        z-index: 2;
      }
    }
  }
}
